body {

        background-color: #d6d2c4;
}

h1 {

        font-size: 1.25rem;
        font-weight: 600;
}

.has-navbar-fixed-top {
        
        padding-top: 5rem !important;
}

.menu-label {

        border-bottom: 1px dotted navy;
}